@charset "UTF-8";
/* CSS Document */
.fade-add {
    transition: opacity .25s .01s ease-in-out;
    -moz-transition: opacity .25s .01s ease-in-out;
    -webkit-transition: opacity .25s .01s ease-in-out;
    opacity:.8 !important;
}

.remove {
  opacity:0 !important;
}

#test-nav {
    transition: left .25s .01s ease-in-out;
    -moz-transition: left .25s .01s ease-in-out;
    -webkit-transition: left .25s .01s ease-in-out;
}

.input-group .error {
    transition: all .25s .01s ease-in-out;
    -moz-transition: all .25s .01s ease-in-out;
    -webkit-transition: all .25s .01s ease-in-out;
}

.input-group.error .error {
    opacity: 1 !important;
    height: 30px;
    padding: 5px;
    
}

.input-group label {
    transition: all .25s .01s ease-in-out;
    -moz-transition: all .25s .01s ease-in-out;
    -webkit-transition: all .25s .01s ease-in-out;
}

.input-group.error label {
    color: #000;
}

.input-group {
    transition: all .25s .01s ease-in-out;
    -moz-transition: all .25s .01s ease-in-out;
    -webkit-transition: all .25s .01s ease-in-out;
}

.input-group.error {
    background: #ffbdbd;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 5px;
}

.scenario-item{
    animation: slidein .4s;
    -webkit-animation: slidein .4s;
}

@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}