@charset "UTF-8";
/* CSS Document */
.field{
    line-height: 1.2em;
    color: black;
    margin: 0 0 .5em 0;
}

.button{
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

/*{
    height: 2.2em!important;
    width: 8em!important;
    border-radius: 5px;
    box-shadow: 3px 3px 9px darkgrey;
    margin: 2px 0 0 1em;
}*/

.rnd-btn {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.rnd-btn:hover {
    background-color: #008CBA;
    color: white;
}

/*.rnd-btn:hover{
    background-color: deepskyblue;
	color: white;
	opacity: 1.8;
    -moz-opacity: 1.8;
    cursor: pointer;
}*/

.inError{
    background-color: red !important; 
    animation: pulsate 1.3s;
    -webkit-animation: pulsate 1.3s;
    -webkit-animation-iteration-count: 2;
}

@keyframes pulsate{
    from {background: white;}
    to {background: red;}
}

@-webkit-keyframes pulsate {
    from {background:white;}
    to {background:red;}
}


.green {
    background: green;
}

.hide-me{
    display: none;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1) and (orientation: landscape){
}

/*  tablet portrait mode  for handheld devices*/
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait){
}

#amortization-container{
    position: absolute;
    top: 0px;
    background-color: white;
    min-height: 100%;
    width: 100%;
    padding: 5px;
    margin: auto;
    clear: left;
    z-index: 1000;
}

table{
    margin-top: 10px;
    margin-left: .2em;
}

table, th, td, thead, tbody
{
    border:1px solid black;
}

thead{
    background-color: aliceblue;
}

thead tr td{
    text-align: center;
}

td{
    width: 7em;
}

.data-row{
    text-align: right;
}
